body{
    margin: 0;
    padding: 0;
}

.background{
    background-color: #FFEFEA;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.toggle-btn{
    width: 150px;
    height: 60px;
    background-color: #E9967A;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-btn:active{
    transform: translateY(5px);
}

.examples{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.example-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.example_img{
    width: 23vw;
    height: 250px;
    cursor: pointer;
    border-radius: 5px;
}

.example_text{
    position: relative;
    bottom: 50px;
    color: black;
    font-weight: 700;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 255, 193, 0.8);
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 1100px){
    .examples{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .example_img,.example_text{
        width: 30vw;
    }
}

@media screen and (max-width: 760px){
    .examples{
        grid-template-columns: 1fr 1fr;
    }
    .example_img,.example_text{
        width: 45vw;
    }
}

@media screen and (max-width: 500px){
    .examples{
        grid-template-columns: 1fr;
    }
    .example_img,.example_text{
        width: 90vw;
    }
}



.modal-container{
    display: flex;
    justify-content: center;
}

.modal{
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 300px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;
    margin-top: -300px;
    position: absolute;
    z-index: 10;
}

.modal-top{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.exit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-title,.select-voice,.example-texts,.read-btn{
    width: 90%;
    border-radius: 5px;
}

.select-voice{
    height: 30px;
    background-color: #E9967A;
    color: white;
}

.example-texts{
    height: 50%;
}

.read-btn{
    height: 30px;
    background-color: #E9967A;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

@keyframes clicked{
    20%{
        box-shadow: 0 0 20px rgb(11, 102, 240);
    }
    60%{
        box-shadow: 0 0 40px rgb(11, 102, 240);
    }
    100%{
        box-shadow: none;
    }
}

@keyframes showModal{
    from{
        margin-top: -300px;
    }
    to{
        margin-top: 200px;
    }
}

@keyframes hideModal{
    from{
        margin-top: 200px;
    }
    to{
        margin-top: -300px;
    }
}
