body{
    margin: 0;
    padding: 0;
}

.background{
    background-color: #FFEFEA;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.toggle-btn{
    width: 150px;
    height: 60px;
    background-color: #E9967A;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.examples{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.example-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.example_img{
    width: 23vw;
    height: 250px;
    cursor: pointer;
}

.example_text{
    position: relative;
    bottom: 50px;
    color: black;
    font-weight: 700;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 255, 193, 0.8);
    cursor: pointer;
    height: 50px;
    font-size: 20px;
}

@keyframes clicked{
    20%{
        box-shadow: 0 0 20px rgb(11, 102, 240);
    }
    60%{
        box-shadow: 0 0 40px rgb(11, 102, 240);
    }
    100%{
        box-shadow: none;
    }
}